body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://i.imgur.com/7gSmmjq.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;

}

a {
  color: black;
  
  
}
.bothsides {
  display:flex;
  flex-direction:row;
  justify-content: center;
}
.leftside{
  background-color: rgba(50,100,50,.8);
  display: flex;
  flex-direction: column;
  text-align:center;
  
  
}
.rightside{
background-color:rgba(100, 0, 0, .8);
display:flex;
flex-direction: column;
text-align:center;

}
.button {
  color:black;
}

h1{
  text-align:center;
}
body {
  /* padding: 10px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.imagerow {
  display:flex;
  flex-direction:row;
}
.firstimage {
  height: 100px;
  width: 100px;
}
.secondimage {
  height: 100px;
  width: 100px;
}
.thirdimage {
  height: 100px;
  width: 100px;
}
li {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.openingpage {
  text-align: center;
}

.reviews {
  text-align:center;

}

.threebuttons {
  text-align:center;
}