body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://i.imgur.com/7gSmmjq.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color:black
}

a {
  color: black;
  
  
}
.bothsides {
  display:flex;
  flex-direction:row;
  justify-content: center;
}
.leftside{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  text-align:center;
  
  
}
.rightside{
background-color: white;
display:flex;
flex-direction: column;
text-align:center;

}
.button {
  color:black;
}

h1{
  font-family: 'Amatic SC', cursive;
    text-align:center;
}
body {
  /* padding: 10px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column; */
}
.imagerow {
  display:flex;
  flex-direction:row;
}
.firstimage {
  height: 100px;
  width: 100px;
}
.secondimage {
  height: 100px;
  width: 100px;
}
.thirdimage {
  height: 100px;
  width: 100px;
}
li {
  font-family: 'Patua One', cursive;
  font-size: 18px;

  color: black;
}

.openingpage {
  text-align: center;
}

.reviews {
  text-align:center;

}

.threebuttons {
  text-align:center;
}
.buffer {
  margin: 20px;
}

.userhome{
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 20px;
}