<h1>Users of Travel Oasis</h1>



<div>
{{#each users}}
<li><a href="/users/{{_id}}"> {{firstname}}
<div class ="profileimage"><img class="profilepicture" src="{{profilepic}}"></a></li></div>
{{/each}}
</div>
