<h1>Create New User</h1>
<form method="POST" action="/users">
    <div>
        <label for="firstname">First Name</label>
        <input type="text" name="firstname">
    </div>
    <div>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname">
    </div>
    <div>
        <label for="username">Username</label>
        <input name="username">
    </div>
    <div>
        <label for="profilepic">url</label>
        <input name="profilepic">
    </div>


    <div>
        <input type="submit" value="submit">
    </div>
</form>
